KEY DECISIONS
    For this part of the assessment, the goal was to fork and existing project, or create a minimal app
and write 3-5 test cases.
I didn't find an interesting project to fork on github, seeing as a lot of them were very long, or 
built with HTML, CSS and Javascript, making it hard to test the JS file, so i created a small calendar app.

    I wrote a small JS script, and had Copilot modify it and give it structure.
The app validates Bi-salary payouts, where Employers don't get paid their bi-weekly salaries untill the
16th of the month till 31st.

TEST Cases
    The calendar.test.js file contains 5 test cases, a mixture of which are valid and invalid tests.
These tests are to validate the dates, and also input types such as numbers, and strings. 
Outlined below are the test scenarios
1. Payouts on the 16th of the month
2. Payouts on the 15th of the month
3. Invalid numbers/dates
4. Invalid dates(Negative testing)
5. input types